<table class="tx-customnewstagcloud" >
	<tr>
		<td>
			<f:translate key="tx_customnewstagcloud_domain_model_newscategory.uid" />
		</td>
		<td>
			{newsCategory.uid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_customnewstagcloud_domain_model_newscategory.pid" />
		</td>
		<td>
			{newsCategory.pid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_customnewstagcloud_domain_model_newscategory.hidden" />
		</td>
		<td>
			{newsCategory.hidden}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_customnewstagcloud_domain_model_newscategory.starttime" />
		</td>
		<td>
			{newsCategory.starttime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_customnewstagcloud_domain_model_newscategory.title" />
		</td>
		<td>
			{newsCategory.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_customnewstagcloud_domain_model_newscategory.title_lang_ol" />
		</td>
		<td>
			{newsCategory.titleLangOl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_customnewstagcloud_domain_model_newscategory.single_pid" />
		</td>
		<td>
			{newsCategory.singlePid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_customnewstagcloud_domain_model_newscategory.parent_category" />
		</td>
		<td>
			{newsCategory.parentCategory}
		</td>
	</tr>
    <tr>
        <td>
            <f:translate key="tx_customnewstagcloud_domain_model_newscategory.uri" />
        </td>
        <td>
            {newsCategory.uri}
        </td>
    </tr>
</table>